*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
  }
  
  #wrapper{
      height:100vh;
      overflow-y:auto;
      overflow-x: hidden;
      background-image: url(./images/userAsset/herobg.png);
      object-fit: cover;
      background-color: rgb(255, 255, 255);
  }
  
  .container{
      width:80%;
      height: 100%;
      margin:0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .text{
    margin-bottom: 8%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: larger;
    text-align: left;
    width: 35%;
  }

  .icon{
    cursor:pointer;
    user-select: none;
    color:black;
    background-color: white;
    border: 0.2px solid whitesmoke;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 14px 16px;
    border-radius: 16px;
    font-size: 37px;
    transition:all 0.3s;
  }
  
  .icon:hover{
    scale: 1.2;
    transform: translateY(-10px);
  }

  .icon-wrapper{
    display:flex;
    gap:1rem;
    background-color: rgb(227,232,239);
    max-width: fit-content;
    padding: 10px;
    border-radius: 16px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    
  }
  
  .tooltiptext {
    visibility: hidden;
    width: fit-content;
    min-width: max-content;
    font-size: 10px;
    font-weight: 600;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    will-change: transform;
    vertical-align: middle;
  
    /* Position the tooltip */
    position: fixed;
    top: -80%;
    left: -2px ;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 1;
  }

  @media (max-width:480px) {

  .icon-wrapper{
    display:flex;
    zoom: 60%;
    gap:1rem;
  }

  .text{
    width: 75%;
  }
  }